.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    color: white;
    background-color: darkgreen;
    padding: 20px;
}
.header h3{
    border: solid 3px lightgreen;
    border-radius: 50%;
    padding:5px;
}